<div class="cont">
    <div class="content-options">
        <input type="checkbox" class="none" id="checkbox-options_content" hidden>
        <div class="options-header">
            <h2>Tiendas</h2>
        </div>
        <div class="options-bar">
            <label class="btn empty btn-filter" for="checkbox-options_content">
                <svg>
                    <use href="../icons/icon.svg#toggles-icon"></use>
                </svg>
                Filtros
            </label>
            <input type="text" placeholder="Buscar" />
            <button class="btn fill" routerLink="/tiendas/crear">
                <svg>
                    <use href="../icons/icon.svg#plus-icon"></use>
                </svg>
                Agregar
            </button>
        </div>
        <div class="options-content">
            <div class="filters">
                <div class="content-filter">
                    <label class="btn empty option-filter">
                        Filtros
                        <svg>
                            <use href="../icons/icon.svg#bottom-icon"></use>
                        </svg>
                    </label>
                    <div class="filter">
                        <ul class="options-filter">
                            <li>
                                <label for="filter-1">
                                    <input type="checkbox" id="filter-1" />
                                    <span>Filtro 1</span>
                                </label>
                            </li>
                            <li>
                                <label for="filter-2">
                                    <input type="checkbox" id="filter-2" />
                                    <span>Filtro 1</span>
                                </label>
                            </li>
                            <li>
                                <label for="filter-3">
                                    <input type="checkbox" id="filter-3" />
                                    <span>Filtro 1</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <button class="btn empty">
                Filtrar
            </button>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th *ngFor="let col of columnas">{{ col }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td>{{ item.nombre }}</td>
                <td>
                    <img [src]="item.imagen" alt="{{ item.nombre }}" width="50" height="50" />
                </td>
                <td>{{ item.direccion }}</td>
                <td>{{ item.ruc }}</td>
                <button title="Editar" [routerLink]="'/tiendas/editar/' + item.id">
                    <svg>
                        <use href="../icons/icon.svg#pencil-icon"></use>
                    </svg>
                </button>


                <button title="Eliminar" (click)="eliminar(item.id)">
                    <svg>
                        <use href="../icons/icon.svg#trash-icon"></use>
                    </svg>
                </button>
            </tr>
        </tbody>
    </table>

    <div class="pagination">
        <button class="btn" [disabled]="currentPage === 0" (click)="cambiarPagina(0)">Primera</button>
        <button class="btn" [disabled]="currentPage === 0" (click)="cambiarPagina(currentPage - 1)">Anterior</button>
        <span>Página {{ currentPage + 1 }} de {{ totalPages }}</span>
        <button class="btn" [disabled]="currentPage + 1 >= totalPages"
            (click)="cambiarPagina(currentPage + 1)">Siguiente</button>
        <button class="btn" [disabled]="currentPage + 1 >= totalPages"
            (click)="cambiarPagina(totalPages - 1)">Última</button>
    </div>
</div>