<div class="cont"> 
    <div class="content-options">
        <input type="checkbox" class="none" id="checkbox-options_content" hidden>
        <div class="options-header">
            <h2>Productos</h2>
        </div>
        <div class="options-bar">
            <label class="btn empty btn-filter" for="checkbox-options_content">
                <svg>
                    <use href="../icons/icon.svg#toggles-icon"></use>
                </svg>
                Filtros
            </label>
            <input type="text" placeholder="Buscar" />
            <button class="btn fill">
                <svg>
                    <use href="../icons/icon.svg#plus-icon"></use>
                </svg>
                Agregar
            </button>
        </div>
        <div class="options-content">
            <div class="filters">
                <div class="content-filter">
                    <label class="btn empty option-filter">
                        Filtros
                        <svg>
                            <use href="../icons/icon.svg#bottom-icon"></use>
                        </svg>
                    </label>
                    <div class="filter">
                        <ul class="options-filter">
                            <li>
                                <label for="filter-1">
                                    <input type="checkbox" id="filter-1" />
                                    <span>Filtro 1</span>
                                </label>
                            </li>
                            <li>
                                <label for="filter-2">
                                    <input type="checkbox" id="filter-2" />
                                    <span>Filtro 1</span>
                                </label>
                            </li>
                            <li>
                                <label for="filter-3">
                                    <input type="checkbox" id="filter-3" />
                                    <span>Filtro 1</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <button class="btn empty">
                Filtrar
            </button>
        </div>
    </div>
    <app-table [columns]= columnas [data]=data></app-table>
</div>

