<div class="contenido">
  <h1>Actualizar Tienda</h1>

  <form [formGroup]="form">
    <div>
      <label for="nombre">Nombre:</label>
      <input id="nombre" formControlName="nombre" />
    </div>

    <div>
      <label for="nombreLegal">Nombre Legal:</label>
      <input id="nombreLegal" formControlName="nombreLegal" />
    </div>

    <div>
      <label for="direccion">Dirección:</label>
      <input id="direccion" formControlName="direccion" />
    </div>

    <div>
      <label for="ruc">RUC:</label>
      <input id="ruc" formControlName="ruc" />
    </div>

    <div>
      <label for="imagen">Imagen URL:</label>
      <input id="imagen" formControlName="rutaImagen" />
    </div>

    <div>
      <label for="idPais">País:</label>
      <select id="idPais" formControlName="idPais">
        <option *ngFor="let pais of paises" [value]="pais.id">{{ pais.nombre }}</option>
      </select>
    </div>

    <div>
      <label for="idDepartamento">Departamento:</label>
      <select id="idDepartamento" formControlName="idDepartamento">
        <option *ngFor="let departamento of departamentos" [value]="departamento.id">{{ departamento.nombre }}</option>
      </select>
    </div>

    <div>
      <label for="idProvincia">Provincia:</label>
      <select id="idProvincia" formControlName="idProvincia">
        <option *ngFor="let provincia of provincias" [value]="provincia.id">{{ provincia.nombre }}</option>
      </select>
    </div>

    <div>
      <label for="idDistrito">Distrito:</label>
      <select id="idDistrito" formControlName="idDistrito">
        <option *ngFor="let distrito of distritos" [value]="distrito.id">{{ distrito.nombre }}</option>
      </select>
    </div>

    <button type="submit" (click)="actualizarTienda()">Actualizar Tienda</button>
  </form>
</div>